/* 全局样式表 */

html,
body,
#app {
    /* 解决三级权限换行问题 */
    min-width: 1366px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.el-breadcrumb {
    margin-bottom: 20px;
}

.vcenter {
    display: flex;
    align-items: center;
}
.el-steps{
    margin:15px 0;
}
.el-step__title{
    font-size: 13px;
}
.ql-editor {
    min-height: 300px;
}
.btnAdd{
    margin-top:15px;
}
.el-cascader-node {
    height: 23px !important;
    line-height: 22px !important;
}